.navbar li {
  float: left;
  text-decoration: none;
  display: block;
}

.navbar a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #666;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.navbar li a:hover {
  background-color: #111;
}
